# Dados dos Preços do GLP*

##### *Gás liquefeito de petróleo

### Bibliotecas Utilizadas:

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Versões
print('Python:', sys.version)
print('Pandas:', pd.__version__)

Python: 3.10.4 (tags/v3.10.4:9d38120, Mar 23 2022, 23:13:41) [MSC v.1929 64 bit (AMD64)]
Pandas: 1.4.2

### Carregando a base de dados:

In [3]:
df_01 = pd.read_csv('https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/shpc/dsan/2022/precos-glp-01.csv', sep=';')
df_02 = pd.read_csv('https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/shpc/dsan/2022/precos-glp-02.csv', sep=';')
df_03 = pd.read_csv('https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/shpc/dsan/2022/precos-glp-03.csv', sep=';')
df_04 = pd.read_csv('https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/shpc/dsan/2022/precos-glp-04.csv', sep=';')

'''
df_01 = representa o mês de janeiro de 2022
df_02 = representa o mês de fevereiro de 2022
df_03 = representa o mês de março de 2022
df_04 = representa o mês de abril de 2022
'''

### Análise do mês de janeiro de 2022

In [6]:
# Eliminando algumas colunas
df_01.drop(['Revenda',
           'CNPJ da Revenda',
           'Nome da Rua','Numero Rua',
           'Complemento',
           'Bairro',
           'Cep',
           'Valor de Compra'], axis=1, inplace=True)
df_01.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Produto,Data da Coleta,Valor de Venda,Unidade de Medida,Bandeira
0,SE,SP,SAO VICENTE,GLP,03/01/2022,"97,99",R$ / 13 kg,CONSIGAZ
1,N,AC,RIO BRANCO,GLP,03/01/2022,115,R$ / 13 kg,FOGAS
2,N,AC,RIO BRANCO,GLP,03/01/2022,110,R$ / 13 kg,AMAZONGÁS
3,N,AC,RIO BRANCO,GLP,03/01/2022,115,R$ / 13 kg,AMAZONGÁS
4,N,AC,RIO BRANCO,GLP,03/01/2022,115,R$ / 13 kg,AMAZONGÁS

In [7]:
# Verificando o nome das colunas
df_01.columns

Index(['Regiao - Sigla', 'Estado - Sigla', 'Municipio', 'Produto',
       'Data da Coleta', 'Valor de Venda', 'Unidade de Medida', 'Bandeira'],
      dtype='object')

In [8]:
# Verificando o tamanho do DataFrame(linhas x colunas)
df_01.shape

(15161, 8)

In [20]:
# Tipo dos dados das colunas
print(df_01.dtypes)

df_01['Valor de Venda'] = df_01['Valor de Venda'].str.replace(',','.') # Alterando de virgula para ponto
df_01['Valor de Venda'] = df_01['Valor de Venda'].apply(pd.to_numeric) # Alterando o tipo da coluna 

print('-----')
print(df_01.dtypes)

Regiao - Sigla       object
Estado - Sigla       object
Municipio            object
Produto              object
Data da Coleta       object
Valor de Venda       object
Unidade de Medida    object
Bandeira             object
dtype: object
-----
Regiao - Sigla        object
Estado - Sigla        object
Municipio             object
Produto               object
Data da Coleta        object
Valor de Venda       float64
Unidade de Medida     object
Bandeira              object
dtype: object

#### Agrupando os dados por região e calculando a média